---
import { links } from "../content"
const allPosts = await Astro.glob('../pages/posts/*.md');
const posts = allPosts.sort((a, b) => {
  const aNum = parseInt(a.file.split('/').pop()?.split('.')[0] ?? '0');
  const bNum = parseInt(b.file.split('/').pop()?.split('.')[0] ?? '0');
  return bNum - aNum;
});

import PostLink from "../components/PostLink.astro";
import Link from "../components/Link.astro"
import Divider from "../components/Divider.astro"
import FlowerDivider from "../components/FloweDivider.astro"
import DiscordInvite from "../components/DiscordInvite.astro"
import HomeLayout from '../layouts/HomeLayout.astro';

---
<HomeLayout>
			<section class="flex flex-col gap-6">
				<div class="flex flex-col gap-2">
					<h1 class="text-5xl">Hola 👋</h1>
					<p class='text-sm'>Bienvenido a mi página personal. Yo veo esta página como un jardín, algo que crece si se cuida manualmente, artísticamente 🎨.</p>
					<p class="text-sm">Podrás explorar más de como cree este espacio en el <a href="/posts/1" class="text-[#E9762B] visited:text-[#834b26] underline md:hover:underline md:no-underline">primer post</a>! 💖</p>
				</div>
				
				<DiscordInvite />
			</section>
			<FlowerDivider />
			<section class="flex flex-col">
				<h2 class="text-3xl">Posts 📝</h2>
				<ul class="flex flex-col gap-2 mx-0!">
					{posts.map((post) => {
						const urlNumber = post.file.split('/').pop()?.split('.')[0];
						return <PostLink text={post.frontmatter.title} url={urlNumber} />
					}) }
				</ul>
			</section>
			<Divider />
			<section class="flex flex-col gap-2">
				<h2 class="text-3xl">Links cool 🔭</h2>
				<ul class="flex flex-col gap-2 mx-0!">
					{links.map(({text, url}) => 
						<Link text={text} url={url} />
					)}
				</ul>
			</section>
</HomeLayout>
