---

---
<div class="fixed bottom-2 right-2 w-fit">
    <a href="https://discord.gg/MWCG3rED" target="_blank" class='bg-orange-100 border-2 no-underline! shadow shadow-orange-100 border-orange-200 cursor-pointer flex items-center gap-1 px-2.5 py-1 rounded-full w-fit text-neutral-900! hover:no-underline! hover:bg-orange-200 hover:border-orange-300 transition-colors!'>
        🪴 Unete al Discord
    </a>
</div>