---
const { text, url } = Astro.props;
---

<li class="flex gap-2 items-center">
    → <a class="text-[#E9762B] visited:text-[#834b26] flex gap-2 underline md:hover:underline md:no-underline" href={`/posts/${url}`}>{text}</a>
</li>

