---
const { text, url } = Astro.props;
---

<li>
    <a class="text-[#E9762B] visited:text-[#834b26] flex gap-2" href={`/posts/${url}`}>
        <span class="text-black">→</span>
        {text}
    </a>
</li>

